version: '3.3'

services:
  redis-server:
      image: redis:latest
  dbsql:
    image: mysql:8.0.32
    restart: always
    environment:
      MYSQL_USER: 'assignemnt_03'
      MYSQL_PASSWORD: '123456789'
      MYSQL_ROOT_PASSWORD: '123456789'
      MYSQL_DATABASE: assignment_03

    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - assignemnt-03:/var/lib/mysql

  backend:
    build: ./backend
    ports:
      - 8000:8000
    depends_on:
      - dbsql
      - redis-server

  frontend:
    build: ./frontend
    ports:
      - 8501:8501
    depends_on:
      - backend

  nginx:
    container_name: nginx
    restart: always
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - frontend

volumes:
  assignemnt-03: